<% notes.each do |n| %>
<h3><%= n.title %></h3>

<form action="/notes/<%= n.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>
<form action="/notes/<%= n.id%>" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type="hidden" name="_method" value="patch">
	<textarea name="content"><%= n.content%></textarea>
	<input type="submit" value="Update">
</form>
<hr>

<% end %>